<% provide(:title, "Help") %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Help</h1> 
	<p> 
   		 This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
   sample application.
	</p>
	</div>	
</div>
	
 