<div class="sidebar-menu"> 

                <div class="sidebar-menu-inner"> 

                    <header class="logo-env"> 
                        <!-- logo --> 
                        <a href="#">Sample App</a>
                        <!-- logo collapse icon --> 

                        <div class="sidebar-collapse"> <a href="#" class="sidebar-collapse-icon">
                                <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition --> <i class="icon-th"></i> </a> 
                        </div> 
                        <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) --> 

                        <div class="sidebar-mobile-menu visible-xs"> <a href="#" class="with-animation">
                                <!-- add class "with-animation" to support animation --><i class="icon-th"></i> </a> 
                        </div> </header> 
                    <ul id="main-menu" class="main-menu" style=""> 
                        <li class="root-level"> <a href="#" target="_blank"><i class="icon-home"></i>

                                <span class="title"> Home
                                </span></a> 
                        </li> 
                        <li class="root-level"> <a href="#" target="_blank"><i class="icon-time"></i>

                                <span class="title">Timeline
                                </span></a> 
                        </li> 
                        <li class="root-level"> <a href="#" target="_blank"><i class="icon-map-marker"></i>

                                <span class="title">World Map
                                </span></a> </li> 
                        <li class="root-level"> <a href="#" target="_blank"><i class="icon-group"></i>

                                <span class="title">Team
                                </span></a> 
                        </li> 
                        <li class="root-level"> <a href="#" target="_blank"><i class="icon-envelope"></i> 

                                <span class="title">Contact 
                                </span>

                                <span class="badge badge-secondary">8
                                </span></a> 
                        </li> 
            </ul> 
     </div> 
</div>
